.App {
  text-align: center;
}
body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/112984151332272044/0979BF576B2C5A1F954F5F5CF1C08977936EA0D9/");
  background-size: 100%;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: #000;
  justify-content: center;
}

img {
  height: 16em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
